name: Unit Tests

on: push

jobs:
  Jest:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - name: Run Tests
        working-directory: ./Front
        run: |
          npm i
          npm run test